
p{
    color: black;
    font-family: Product Sans;
    font-size: xx-small;
}

a {
    background-color: transparent;
}

.caption {
    position: absolute;
    left: 0;
    top: 6.6%;
    width: 100%;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 20px;
    letter-spacing: 10px;
}

.worry-container:after, .worry-container:before, .worry-panel:after, .worry-panel:before, .worry-row:after, .worry-row:before, .worry-row-padding:after, .worry-row-padding:before, .worry-cell-row:before, .worry-cell-row:after, .worry-clear:after, .worry-clear:before, .navigation-bar:before, .navigation-bar:after {
    content: "";
    display: table;
    clear: both;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.top .worry-logo {
    position: relative;
    top: 0;
    max-width:150px;
    width: 100%;
    margin: 0;
}
.top {
    position: relative;
    background-color: #ffffff;
    height: 68px;
    padding-top: 20px;
    line-height: 15px;
    overflow: hidden;
    z-index: 2;
}

.toptext {
    width: 100%
}

.worry-logo {
    font-family: Product Sans;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 42px;
    font-weight: bolder;
    letter-spacing: 5px;
    color: black;
    display: block;
}

.worry-store-logo {
    padding-bottom: 1%;
}

.worry-container {
    padding: 0.01em 30px;
}

.worry-toptext {
    padding-top: 4px;
    font-family: Product Sans;
}

.worry-small {
    font-size:12px;
}
.worry-wide {
    letter-spacing: 2px;
}

.worry-right {
    float: right!important;
}

.worry-left {
    float: left!important;
}

.worry-box-main {
    background-color: palegreen;
    padding: 0.01em 16px;
    margin: 1px 0;
}

.undertext-container {
    background-color: black;
    position: absolute;
    padding: 0 1%;
    max-width: 69%;
    margin-left: 29%;
}


.nav-bar {
    width: 100%;
    overflow: hidden;
}

.nav-bar-item {
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}


.nav-bar .nav-button {
    white-space: normal;
}

.nav-button {
    border: none;
    display: inline-block;
    padding: 12px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    white-space: nowrap;
    float: left;
}


.nav-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topnav {
    position: relative;
    z-index: 2;
    font-size: 17px;
    background-color: #000000;
    color: #f1f1f1;
    width: 100%;
    letter-spacing: 1px;
    font-family: Product Sans;
}
#topnav {
    background-color: #000000;
    overflow: hidden;
}

#topnav a{
    position: relative;
    font-family: Product Sans;
}

#topnav a:hover {
    background-color: white;
    color: black;
}
.topnav-icons {
    width: 51px !important;
    font-size: 20px !important;
    padding-top: 8px !important;
    padding-bottom: 11px !important;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    float: left;
}

.menu-icon div {
  width: 20px;
  height: 2px;
  padding-right: 6px;
  background-color: white;
  margin: 6px 0;
}

#menu-icon div:hover {
    background-color: white;
    color:black;
}

.sidenav-divider {
    display: inline-block;
}

.sidenav-divider div {
    width: 2px;
    height: 2px;
    padding-right:128px;
    background-color: white;
    margin: 6px 0;
}

/* The sidebar menu */
.sidenav {
  height: 92%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position:absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.bgimg-main {
    background-image: url("assets/image0.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    max-height: 100%;
    width: auto;
}

.bgimg-store {
    background-image: url("assets/sadcat.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 20%;
    min-height: 400px;
}

.bgimg1 {
    /* The image used */
    background-image: url("https://cdn.discordapp.com/attachments/552972503669145620/628336400906977280/d26de4d.jpg");
    /* Set a specific height */
    min-height: 650px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg2 {
    /* The image used */
    background-image: url("https://www.gannett-cdn.com/presto/2019/03/29/USAT/4d7fe032-65f0-496b-b5b0-fff96968c133-GettyImages-108348088_1.jpg?crop=2120,1193,x0,y182&width=3200&height=1680&fit=bounds");
    /* Set a specific height */
    min-height: 900px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg3 {
    /* The image used */
    background-image: url("https://media.voltron.voanews.com/Drupal/01live-166/styles/sourced/s3/2019-04/BB608B9A-63BF-4E42-B74B-33F2780B2C7D.jpg?itok=aqxd-Zqz");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg4 {
    /* The image used */
    background-image: url("https://i.etsystatic.com/14891393/r/il/5f7a22/2019584651/il_fullxfull.2019584651_sedn.jpg");
    /* Set a specific height */
    min-height: 650px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg5 {
    /* The image used */
    background-image: url("https://i.etsystatic.com/14891393/r/il/5f7a22/2019584651/il_fullxfull.2019584651_sedn.jpg");
    /* Set a specific height */
    min-height: 650px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide {
    -webkit-animation-name: slide;
    -webkit-animation-duration: 1.5s;
    animation-name: slide;
    animation-duration: 1.5s;
}

#slide {
    position: absolute;
    left: -1200px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
   100%{ left: 0 }
}

@keyframes slide {
    100%{ left: 0}
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.slideshow-img {
    object-fit: cover;
    object-position: 100% 0;

    width: 100%;
    height: 521px;
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.gallery-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-flex-item {
    flex: 25%;
    max-width: wrap;
    padding: 0 4px;
}

.gallery-flex-item img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%
}

@media screen and (max-width: 800px) {
    .gallery-flex-item {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .gallery-flex-item {
        flex: 100%;
        max-width: 100%;
    }
}

.store-price {
    padding-right: 8px;
    text-align: right;
    font-size: 20px;
}

.store-item-title {
    padding: 0 8px;
    padding-bottom: 24px; 
    font-size: 18px;
    font-weight: bold;
}

.store-item-title p {
    font-size: 12px;
    font-weight: normal;
}

.container-inner-404 {
    font-family: Product Sans;
    margin-top: 100px;
    margin-left: 120px;
    width: 290px;
    background-color: white;
    padding: 16px 30px 2px;
}

.container-404 {
    background-image: url("https://cdn.discordapp.com/attachments/540617898385866765/628276293816942611/bb7ba81.jpg");
    background-size: 250px 100px;
    background-position: center 16px;
    background-repeat: repeat;
    outline: none;
    width: 100%;
    height: 100%;

    object-fit: fill;
}

.container-404-head {
    font-family: Product Sans;
    font-size: 120px;
    font-weight: 600;
    margin-bottom: -20px;
}

button:hover {
    background-color: white;
    color: black;
}

.intro {
    text-align: center;
}

.intro h1 {
    margin-top: 0px;
    font-size: 26px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 0;
    font-family: Product Sans;
}

.flex-container {
    padding-left: 120px;
    padding-right: 120px;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

li.known-issues {
    background-image: url("https://static.thenounproject.com/png/1351289-200.png");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

li.community {
    background-image: url("https://static.thenounproject.com/png/265657-200.png");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

li.billing {
    background-image: url("https://static.thenounproject.com/png/2689880-200.png");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

li.orders {
    background-image: url("https://static.thenounproject.com/png/865857-200.png");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

li.account-settings {
    background-image: url("https://static.thenounproject.com/png/1030299-200.png");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

li.chat {
    background-image: url("https://static.thenounproject.com/png/680440-200.png");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

li.outreach-programs {
    background-image: url("https://static.thenounproject.com/png/962513-200.png");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

li.FAQ {
    background-image: url("https://static.thenounproject.com/png/2707858-200.png");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

li.insta {
    background-color: #f2f2f2;
    background-image: url("https://static.thenounproject.com/png/1559835-200.png");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

li.twitter {
    background-color: #f2f2f2;
    background-image: url("https://static.thenounproject.com/png/23267-200.png");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.flex-item {
    background: white;
    box-shadow: 0px 9px 30px rgba(200, 200, 200, 0.30);
    padding: 5px;
    width: 240px;
    height: 240px;
    margin: 10px;
    color: #ccc;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border-radius: 5px;
    -webkit-transition: box-shadow .3s, border-color .3s;
    -moz-transition: box-shadow .3s, border-color .3s;
    -o-transition: box-shadow .3s, border-color .3s;
    -ms-transition: box-shadow .3s, border-color .3s;
    transition: box-shadow .3s, border-color .3s;
}

.flex-item hr {
    height: 1px;
    border: none;
    background-color: black;
    opacity: .5;
    width: 50px;
    margin: 3px auto 20px;
}

.flex-item h2 {
    font-size: 22px;
    font-weight: 400;
    color: black;
    margin-top: 116px;
    font-family: Product Sans;
}

.flex-item h3 {
    font-size: 14px;
    font-weight: 400;
    width: 200px;
    margin: -10px auto 0;
    color: #68727e;
    font-family: Product Sans;
}

.hero {
    background-image: url("https://external-preview.redd.it/nXsi7GnQDKP2BEj7xa3E4y74JvRgFW4dMmNX0Zu4bfs.jpg?auto=webp&s=35404377a47f32ff015c879953dae6180fea0131");
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

.hero-inner {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    max-width: 70%;
    margin: 0 auto;
}

.search::before {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.search::before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #777;
    content: "\1F50D";
    font-size: 18px;
    position: absolute;
    left: 10px;
}

.search {
    position: relative;
}

.search-full input[type="search"] {
    border: 1px solid #fff;
}

.search-input[type="search"]::before {
    content: url(assets/search.png);
}

.search input[type="search"] {
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #999;
    height: 60px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;
}

.aboutus-container {
    position: relative;
    max-width: 700px;
    width: 100%;
    margin-top: 90px;
    margin-left: 100px;
    padding: 16px 80px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}

.footer-1{
    background: transparent;
    position: relative;
    z-index: 1;
}

.footer-2 {
    position: relative;
    padding: 60px 160px 12px;
    font-weight: 400;
    overflow: hidden;
}

.footer-background-primary {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    position: relative;
    max-width: 1600px;
    margin: auto;
}

.footer-1 hr {
    height: 1px;
    border: none;
    background-color: black;
    opacity: .5;
    width: 100%;
    margin: 40px auto 10px;
}

.navigation {
    display: flex;
    display: -webkit-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.navigation-section {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 0 16px;
}

.navigation-header {
    font-size: 14px;
    margin-bottom: 13px;
}

.route {
    color: dimgrey;
    font-size: 14px;
    line-height: 20px;
}

.logo, .logo-wrap {
    width : 105px;
    height: 36px;
}

.logo-index {
    min-width: 50%;
    max-width: 460px;
    height: auto;
}

.logo-main {
    width: 600px;
    height: auto;
    align-content: center;
    padding-left: 65%;
}

.main-container {
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    padding: 40px;
    padding-top: 100px;
    margin: 0;
}

.main-button-container {
    width: 100%;
    position: relative;
    align-self: center;
    padding: 100px;
    padding-bottom: 0px;
}

.main-button {
    width: 100px;
    font-size: 26px;
    font-weight: 400;
    color: white;
    background-color: black;
    align-content: center;
    padding: 6px 12px;
    display: inline-block;
}

.main-dropdown {
    width: 130px;
    color: black;
    background-color: transparent;
    z-index: 1;
}

.main-dropdown a {
    font-size: 22px;
    color: black;
}

.worry-mill {
    background-color: darkslategray;
}

a, abbr, acronym, address, applet, big, blockquote, body, button, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline-offset: 1px;
    outline-width: 2px;
    outline-color: #00b0f4;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

h5 {
    font-size: 36px;
    line-height: 44px;
    color: black;
    font-weight: 700;
    margin: 0 0 20px;
    padding: 35px 0 0 0;
    text-align: center;
    font-family: Product Sans;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: rgba(114, 137, 218, 1);
    text-decoration: none;
}

a {
    background-color: transparent;
}

a img {
    border: none;
}

html, body {
    font-family: Product Sans;
    font-size: 15px;
    line-height: 1.5;
}

body {
    display: block;
    margin: 0;
}

